.timeline {
  $ease: ease;
  $time: 0.75s;
  position: relative;
  margin-top: 5rem;

  .top-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }

  .target-line {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    background-color: red;
  }

  ol li {
    position: relative;
    height: 300px;

    &.active {
      .timeline-year-container {
        .timeline-year {
          @apply text-magenta;
          font-size: 60px;
        }

        &::after {
          opacity: 1;
          scale: 1.5;
        }
      }

      .timeline-content {
        opacity: 1;
        width: 100%;
        max-width: 550px;
        .timeline-content-bg {
          width: 100%;
          max-width: 550px;
        }
        .timeline-title {
          font-size: 28px;
          opacity: 1;
        }

        .timeline-description {
          opacity: 1;
        }

        .timeline-image {
          scale: 1;
          opacity: 1;
        }
      }
    }

    &.dot {
      .timeline-dot {
        width: 20px;
        height: 20px;
        @apply bg-magenta;
      }
    }
  }

  .timeline-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    z-index: 1;
    @apply bg-mist;
    overflow: hidden;
  }
  .timeline-line-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    transform: translate(-25%, 0%);
    height: 100%;
    overflow: hidden;
    z-index: 15;
    .line {
      width: 100%;
      height: 0;
      @apply bg-magenta;
    }
  }

  .timeline-item {
    display: grid;
    gap: 0.75rem;
    position: relative;

    .timeline-dot {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      z-index: 10;
      border-radius: 50%;
      @apply bg-mist;
    }

    .timeline-year-container {
      width: 100%;
      margin-left: 2rem;
    }

    .timeline-content {
      margin-left: 2rem;
      position: relative;
      padding-left: 1rem;

      .timeline-content-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 0.5rem;
        height: 100%;
        z-index: -1;
        @apply bg-mist-100;
      }

      .timeline-title {
        opacity: 0.5;
      }

      .timeline-description {
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
      }

      .timeline-image {
        max-height: 0px;
        transform-origin: center center;
        opacity: 0;
      }
    }
  }

  @include sm {
    ol li {
    }

    .timeline-line {
      left: 40%;
      transform: translate(-50%, 0%);
    }

    .timeline-line-progress {
      left: 40%;
      transform: translate(-50%, 0%);
    }

    .timeline-item {
      grid-template-columns: 4fr 6fr;
      justify-items: center;
      gap: 7rem;
      height: 180px;

      .timeline-dot {
        left: 40%;
      }

      .timeline-year-container {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5rem;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          right: -74px;
          top: 50%;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          transform: translate(0%, -50%);
          z-index: 99;
          scale: 1;
          opacity: 0;
          @apply bg-magenta;
        }
      }

      .timeline-content {
        max-width: 100%;
        margin-right: auto;
        padding: 1rem 2rem;
        position: relative;

        .timeline-image {
          height: 191px;
          width: 323px;
          margin-right: -8rem;
          margin-left: 2rem;
          opacity: 1;
          aspect-ratio: 1.7;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
