.office-carousel {
  position: relative;
  .office-image-container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: auto;
    aspect-ratio: 1;
    .office-image {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .office-box {
    height: 115px;
    width: 100%;
    display: flex;
    margin-top: -57.5px;
    z-index: 5;
    .office-box-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 115px;
      @apply bg-mist-300;
      z-index: -5;
    }

    .office-btn {
      display: flex;
      justify-content: center;
      align-items: start;
      padding-top: 1rem;
      cursor: pointer;
      position: relative;
      z-index: 10;
    }

    .office-prev {
      width: 10%;
      height: 100%;
    }
    .office-next {
      width: 10%;
      height: 100%;
    }
    .office-title-container {
      position: relative;
      width: 85%;
      height: 100%;
      .office-title {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        bottom: 1rem;
        left: 1rem;
        transition: all 0.2s ease-in-out;

        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .office-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -25%);
    width: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 3;

    .office-dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: none;
      @apply border-solid border-mist border-2;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &.active {
        @apply bg-mist;
      }

      &:hover {
        @apply bg-mist-300;
      }
    }
  }
}
