.video-ctas {
  display: flex;
  flex-direction: column;
  &__item {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5rem 24px 2rem 24px;
    z-index: 1;
    transition: all 0.2s ease-in-out;

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.5;
      background: linear-gradient(
        222deg,
        rgba(199, 217, 212, 0) 0%,
        #002e45 100%
      );

      transition: all 0.2s ease-in-out;
    }

    &__heading {
      text-align: left;
      text-transform: uppercase;
      font-family: 'Eina' !important;
      font-weight: 400;
      transition: all 0.2s ease-in-out;
    }

    &__arrow {
      position: absolute;
      right: 2.5rem;
      bottom: 2.5rem;
      opacity: 1;
      transition: all 0.2s ease-in-out;
      width: 15px;
      height: 15px;
    }
  }

  @include sm {
    flex-direction: row;
    &.video-ctas__2 {
      .video-ctas__item {
        width: 50%;
        &:hover {
          width: 90%;
        }
      }
    }
    &.video-ctas__3 {
      .video-ctas__item {
        width: 33.3333%;
        &:hover {
          width: 90%;
        }
      }
    }
    &__item {
      flex-direction: column;
      justify-content: end;
      align-items: start;
      padding: 2.5rem;
      text-align: center;
      &__overlay {
        opacity: 0.9;
        background: linear-gradient(222deg, #c7d9d4 0%, #002e45 75%);
        transition: all 0.2s ease;
      }
      &__arrow {
        opacity: 0;
        transform: translate(-150%, 0%);
        width: 20px;
        height: 20px;
      }
      &:hover {
        width: 90%;

        .video-ctas__item__heading {
          font-size: 40px;
        }

        .video-ctas__item__overlay {
          background: linear-gradient(
            42deg,
            #002e45 0%,
            rgba(199, 217, 212, 0) 100%
          );
        }
        .video-ctas__item__arrow {
          transform: translate(0px, 0%);
          opacity: 1;
        }
      }
    }
  }
}
