.hero {
  width: 100%;
  overflow: hidden;
  z-index: 10;
  @include md {
    aspect-ratio: 5 / 2;
  }
}

@include md-lg {
  .hero {
    height: 550px;
  }
}

.hero-video-btn {
  .container {
    position: absolute;
  }

  input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  label {
    display: grid;
    border: none;
    @apply bg-mist-100;
    --w: 42px;
    width: var(--w);
    height: var(--w);
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
  }

  .play_pause_icon {
    --w: 15px;
    --h: 18px;
    width: var(--w);
    height: var(--h);
    @apply bg-mist;
    translate: 0 0;
    transition: all 0.2s ease-in-out;
  }

  .play {
    clip-path: polygon(
      20% 0,
      20% 100%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%,
      90% 50%
    );
    translate: 6% 0;
  }

  .container:has(input:checked) .play_pause_icon,
  .pause {
    clip-path: polygon(
      0 0,
      0 100%,
      33.33% 100%,
      33.33% 0,
      66.66% 0,
      100% 0,
      100% 100%,
      66.66% 100%,
      66.66% 0
    );
    translate: 0 0;
  }

  .play-2 {
    clip-path: polygon(
      20% 0,
      20% 100%,
      35% 90%,
      35% 90%,
      35% 90%,
      90% 50%,
      35% 10%,
      35% 10%,
      35% 10%
    );
    translate: 6% 0;
  }
}

.hero-cta {
  svg {
    transition: all 0.2s ease;
  }
  &:hover {
    svg {
      transform: translateX(5px);
    }
  }
}
