.overlay-list {
  position: relative;
  padding-left: 3rem;

  li {
    .overlay-list-item {
      position: relative;
      display: flex;
      justify-content: start;
      align-items: center;
      cursor: pointer;
      .overlay-dot {
        position: absolute;
        left: -3rem;
        top: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        @apply bg-mist;
        z-index: 10;
        transform: translate(-50%, -50%);
      }
      .overlay-content {
        h4 {
          font-size: 28px;
          transform-origin: right;
        }
        p {
          @apply text-charcoal;
          max-height: 0px;
          opacity: 0;
          overflow: hidden;
        }
      }
    }

    &.active {
      .overlay-dot {
        @apply bg-magenta;
      }
      .overlay-content {
        opacity: 1;
        h4 {
          font-size: 38px;
        }

        p {
          max-height: 1000px;
        }
      }
    }

    &.short {
      padding: 1rem 0;
    }
  }

  .overlay-line {
    position: absolute;
    left: 0;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 91%;
    @apply bg-mist;
  }

  @include m-sm {
    padding-left: 1rem;

    li {
      h4 {
        font-weight: normal !important;
      }
      .overlay-list-item {
        .overlay-dot {
          left: -1rem;
        }
      }
    }
  }
}

.overlay-container {
  @include m-sm {
    position: relative;
  }
}
