.post-preview {
  .post-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.team-member-preview {
  &:hover {
    p {
      color: rgba(125, 162, 255, var(--tw-text-opacity)) !important;
    }
  }
}

.news {
  .post-preview {
    &:not(:last-child) {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 8px;
        width: 2px;
        height: 75%;
        transform: translate(0%, -50%);
        @apply bg-mist;
      }
    }
  }
}
