.post-preview {
  .post-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.2s ease;
  }

  svg {
    path {
      transition: all 0.2s ease;
    }
  }

  &:hover {
    font-weight: 600;
    cursor: pointer;
    .post-title {
      $shadow-offset: 0.3px;
      $shadow-color: #242132;
      text-shadow: -$shadow-offset -$shadow-offset 0 $shadow-color,
        $shadow-offset -$shadow-offset 0 $shadow-color,
        -$shadow-offset $shadow-offset 0 $shadow-color,
        $shadow-offset $shadow-offset 0 $shadow-color;
      $transition-timing: 0.2s;
      $easing: ease;
      -webkit-transition: all $transition-timing $easing;
      -moz-transition: all $transition-timing $easing;
      -o-transition: all $transition-timing $easing;
      transition: all $transition-timing $easing;
    }

    svg {
      path {
        stroke-width: 2px;
      }
    }
  }
}

.news {
  .post-preview {
    &:not(:last-child) {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 8px;
        width: 2px;
        height: 75%;
        transform: translate(0%, -50%);
        @apply bg-mist;
      }
    }
  }
}
.posts-container {
  .post-item {
    position: relative;
  }

  .post-item {
    @include md-lg {
      // Add vertical divider between posts except for every 2nd item and the last item in the row
      &:not(:nth-child(2n)):not(:last-child)::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 55%;
        width: 2px;
        transform: translate(0%, -50%);
        @apply bg-mist; // Tailwind CSS for divider color
      }
    }

    @include lg {
      // 3-column layout: Add vertical dividers except for every 3rd item and the last item
      &:not(:nth-child(3n)):not(:last-child)::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 55%;
        width: 2px;
        transform: translate(0%, -50%);
        @apply bg-mist;
      }
    }
  }
}
