.quotes {
  position: relative;
  height: 650px;

  @include m-sm {
    height: 480px;
    margin-bottom: 2.5rem;
  }

  .quote {
    position: absolute;
    width: 100vw;
    left: -25px;
    height: fit-content;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    .quote__content {
      padding: 5rem 24px;
      @include m-sm {
        padding: 10rem 24px 5rem 24px;
        text-align: center !important;
        height: 418px;
      }
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 400px;

      .quote_icon {
        display: block;
        height: 80px;
        margin-top: -4rem;

        p {
          height: 80px;
        }

        @include m-sm {
          height: fit-content;
          p {
            height: 60px;
            text-align: center;
          }
        }
      }

      .quote__author {
        margin-top: 1rem;
      }
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .quote__controls {
    position: relative;
    height: 12px;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 8px;

    .quote__dot {
      @apply border-[1px] border-solid border-mist;
      width: 12px;
      height: auto;
      aspect-ratio: 1;
      border-radius: 50%;
      transition: all 0.3s ease;

      &:hover {
        @apply bg-mist-300;
        cursor: pointer;
      }

      &.active {
        @apply bg-mist;
      }
    }
  }

  @include m-sm {
    .quote__controls {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      padding-bottom: 2rem;
    }
  }

  @include sm {
    height: 426px;
    width: 100%;

    .quote {
      width: 100%;
      left: 0;

      .quote__headshot {
        margin-right: -4rem;
      }

      .quote__content {
        flex-direction: row;
        gap: 2rem;
        width: 90%;

        .quote__author {
          margin-top: 3rem;
        }
      }
    }

    .quote__controls {
      width: 10%;
      display: flex;
      align-items: end;
      width: fit-content;
      transform: rotate(90deg) translate(0, -50%);
    }
  }
}
