article {
  figure.wp-block-table {
    table {
      margin: 1rem 0;

      th {
        @apply font-semibold text-charcoal text-left p-8 pl-2 border-b-0 border-solid border-mist;
        border-bottom: none;
      }

      td {
        @apply border border-solid border-mist;
        padding: 8px;
        text-align: left;
      }
    }
  }
}
