* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

svg {
  shape-rendering: crispEdges;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-charcoal;
  font-family: 'Eina', Tahoma, sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

main {
  min-height: 500px;
}
footer {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
}

@layer base {
  h1 {
    font-family: 'Juana', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1667;
    letter-spacing: 0.01em;
    @include sm {
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
    }
  }
  h2 {
    font-family: 'Juana', sans-serif;
    font-size: 22px;
    line-height: 1.28;
    font-weight: 600;
    @include sm {
      font-size: 50px;
      line-height: normal;
    }
  }

  h3 {
    font-family: 'Juana', sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.26316;
    @include sm {
      font-size: 38px;
    }
  }
  h4 {
    font-family: 'Juana', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    @include sm {
      font-size: 24px;
    }
  }
  h5 {
    font-family: 'Juana', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    @include sm {
      font-size: 20px;
      line-height: 1.3;
    }
  }
}
p {
  font-family: 'Eina';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  @include sm {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 152.381% */
  }
}

body {
  font-size: 16px;
}

a {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

a.menu-item {
  text-transform: uppercase;
}

a.backlink {
  text-decoration: underline !important;
  text-underline-offset: 2px;
}

sup {
  font-size: 0.5em;
  vertical-align: super;
}

article {
  font-family: 'Eina';
  p:not(:last-child) {
    margin-bottom: 6px;
  }
}

b,
strong {
  font-weight: 600;
}

.font-outline {
  font-feature-settings: 'clig' off, 'liga' off;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.icon {
  transition: all 0.2s ease-in-out;
  position: relative;
  &:hover {
    filter: brightness(1.35);
  }
}

.gm-style-iw-chr {
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.gm-style-iw-d {
  padding-top: 1.25rem !important;
  padding-right: 0.2rem !important;
}

.acf-innerblocks-container {
  ul {
    list-style-position: inside;
    list-style-type: disc;
    li {
      margin-bottom: 5px;
    }
  }
}

body
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  margin-left: unset !important;
  margin-right: unset !important;
}
.interface-interface-skeleton__body
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  margin-left: unset !important;
  margin-right: unset !important;
}

.sm\:position-unset {
  @media screen and (min-width: 640px) {
    position: unset;
  }
}

.xs\:bg-transparent {
  @media screen and (min-width: 800px) {
    background-color: transparent;
  }
}

.loader {
  display: block;
  position: absolute;
  height: 100%;
  width: 10px !important;
  left: 25%;
  opacity: 0;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  @apply bg-charcoal;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  transition: all 0.2s ease-in-out;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
