@import './base/fonts';
@import './base/breakpoints';
@import './base/misc';
@import './layout/grid';
@import './components/ctas';
@import './components/hero';
@import './components/form';
@import './components/carousel';
@import './components/overlay';
@import './components/quotes';
@import './components/buttons';
@import './pages/milestones/timeline.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

.wp-block-post-title {
  font-family: 'Juana', sans-serif;
  font-size: 3rem;
  margin-left: 1rem;
  @apply text-charcoal;
}

.editor-styles-wrapper :where(.wp-element-button, .wp-block-button__link) {
  // remove styles from the button
  position: relative !important;
  background: none !important;
  padding: 8px 0 !important;
  text-align: left;
  color: black !important;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    @apply bg-magenta;
  }
}
.editor-styles-wrapper a:where(:not(.wp-element-button)) {
  text-decoration: unset !important;
}

.is-root-container {
  font-family: 'Eina';
  h1 {
    font-family: 'Juana', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1667;
    letter-spacing: 0.01em;
    @include sm {
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
    }
  }
  h2 {
    font-family: 'Juana', sans-serif;
    font-size: 22px;
    line-height: 1.28;
    font-weight: 600;
    @include sm {
      font-size: 50px;
      line-height: normal;
    }
  }

  h3 {
    font-family: 'Juana', sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.26316;
    @include sm {
      font-size: 38px;
    }
  }
  h4 {
    font-family: 'Juana', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    @include sm {
      font-size: 24px;
    }
  }
  h5 {
    font-family: 'Juana', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    @include sm {
      font-size: 20px;
      line-height: 1.3;
    }
  }

  p {
    font-family: 'Eina';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    @include sm {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 152.381% */
    }
  }

  a {
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
  }

  a.menu-item {
    text-transform: uppercase;
  }

  a.backlink {
    text-decoration: underline !important;
    text-underline-offset: 2px;
  }

  sup {
    font-size: 0.5em;
    vertical-align: super;
  }

  article {
    font-family: 'Eina';
    p:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  b,
  strong {
    font-weight: 600;
  }

  .acf-block-component {
    @extend .content-grid;
    a:not(.acf-button):not(.button):not(.acf-icon) {
      pointer-events: none !important;
    }
  }
}
.block-editor__container img {
  height: 100% !important;
}

.wp-block {
  .wp-block-group.is-layout-constrained
    > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.components-button.edit-post-fullscreen-mode-close.has-icon {
  @apply bg-mist-100;
}

#sec-chart {
  min-height: 400px;
}

.wp-admin:not(.post-type-page) {
  .is-root-container {
    padding-left: 1rem;
    max-width: 900px;

    p:not(:last-child) {
      margin-bottom: 8px;
      @apply text-charcoal;
    }
  }
}
